.secMainFooterWrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.secMainFooter {
  width: 100%;
  padding: 15px;
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.1);
}

.secMainFooterPara {
  text-align: center;
}

.secMainFooterParaLink {
  transition: ease 0.4s;
  color: rgba(255,255,255,0.1);
  text-decoration: unset;
  font-weight: bold;
  cursor: pointer;
}

.secMainFooterParaLink:hover {
  transition: ease 0.4s;
  color: rgba(173,90,255,0.75);
  text-decoration: unset;
  font-weight: bold;
}
